<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/menu.css">
    <title>Shop</title>
</head>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="bingoBabes.html">Bingo Babes</a></li>
                        <li><a href="playerCards.html">Player Cards</a></li>
                        <li><a href="gambleYourFate.html">Gamble Your Fate</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wip">
        <p>WORK IN PROGRESS</p>
    </div>
</body>
</html>
<style>
    body{
        background-image: url(https://media4.giphy.com/media/RE5iREBNhI0Ok/200w.gif?cid=6c09b9526k0bixns4wuoppwdjlox3hc6wdnipdxfy2nin49a&rid=200w.gif&ct=g);
        /* background-size: cover;*/
    }

    .wip{
        font-weight: bold;
        font-size: 7em;
        color: #fff;
        text-shadow: pink 5px 5px;
        text-align: center;
    }
</style>