<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Gamble Your Fate!</title>
</head>

<body>
    <div class="blackjack-container">
        <!-- <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="bingoBabes.html">Bingo Babes</a></li>
                            <li><a href="playerCards.html">Player Cards</a></li>
                            <li><a href="gambleYourFate.html">Gamble Your Fate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <h1>Gamble Your Fate</h1>
        <div class="flex-container">
            <div class="user card"></div>
            <div class="card hidden"></div>
        </div>
        <p class="hand"></p>
        <div class="hold hidden">
            <span class="hold-text">Hold</span>
        </div>
    </div>
</body>
<script src="../script/blackjack.js"></script>
</html>