<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Loser got hacked</title>
</head>

<body class="hack">
    <div class="hackcontainer">
        <h1>You have been hacked!</h1>
        <div class="hackwrapper">
            <p>If you do not call the number below immediately we will delete your computer!</p>
            <img src="https://img.itch.zone/aW1nLzIxNTEzNTcucG5n/315x250%23c/BGh5fz.png" title="Elite Hacker"
                alt="elite-hacker">
        </div>
        <audio id="elite" controls src="../sounds/epic_26.mp3">
            <source  type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="phone-button">
            <h2 class="phone">Call: (302) 943-7638</h2>
        </div>
        
    </div>
</body>
</html>
<script src="/script/script.js"></script>